<div class="relative h-[100px] md:h-[150px] overflow-hidden">
  <div
    class="absolute inset-0 w-full h-full bg-no-repeat bg-fixed bg-center"
    style="
      background-image: url('<%= asset_path("peinture-fond.jpg") %>');
      background-size: cover;
      background-position-y: <%= position %>;
      image-rendering: auto;
    ">
  </div>
</div>
