<section class="py-24 px-6 bg-green-600 text-white text-center font-body" data-aos="fade-up">
  <h1 class="font-title text-3xl md:text-4xl font-bold uppercase mb-10 relative after:block after:w-16 after:h-1 after:bg-white after:mx-auto after:mt-2">
    Mentions légales
  </h1>

  <div class="max-w-3xl mx-auto text-center bg-white bg-opacity-10 backdrop-blur-sm p-6 rounded-lg shadow-lg space-y-4 border border-white border-opacity-20">
    <p><strong class="text-white">Nom de l’entreprise :</strong> Frédérique Granjon</p>
    <p><strong class="text-white">Statut :</strong> Entreprise individuelle</p>
    <p><strong class="text-white">Adresse :</strong> 11-13 rue Curie, 69006 Lyon</p>
    <p><strong class="text-white">SIRET :</strong> 81917677700012</p>
    <p><strong class="text-white">Responsable de publication :</strong> Frédérique Granjon</p>
    <p><strong class="text-white">Hébergement :</strong> <em>Heroku</em></p>
  </div>
</section>
