<section class="py-24 px-6 bg-green-600 text-white text-center font-body" data-aos="fade-up">
  <h1 class="font-title text-3xl md:text-4xl font-bold uppercase mb-10 relative after:block after:w-16 after:h-1 after:bg-white after:mx-auto after:mt-2">
    Mentions légales
  </h1>


<section class="bg-green-600 py-12">
  <div class="bg-white text-green-800 p-6 rounded-lg shadow-md max-w-2xl mx-auto aos-fade">
    <p class="mb-4">
    <p><strong>Nom de l’entreprise :</strong> Frédérique Granjon</p>
    <p><strong>Statut :</strong> Entreprise individuelle</p>
    <p><strong>Adresse :</strong> 11-13 rue Curie, 69006 Lyon</p>
    <p><strong>SIRET :</strong> 81917677700012</p>
    <p><strong>Responsable de publication :</strong> Frédérique Granjon</p>
    <p><strong>Hébergement :</strong> <em>Heroku</em></p>.
    </p>
  </div>
</section>

</section>

</section>
