<div class="frange-peinture frange-1"></div>

<section class="interlude">
  <p>Petite explication sur la méthode...</p>
</section>

<div class="frange-peinture frange-2"></div>
<section class="interlude">
  <p>Salut</p>


<div class="frange-peinture frange-3"></div>
