@import "active_admin/mixins";
@import "active_admin/base";

body.active_admin {
  font-family: 'Lora', serif;

  #title_bar {
    background-color: #d2ede5;
    h2 {
      color: #004d40;
    }
  }

  #tabs {
    background: #004d40;
    a {
      color: white !important;
    }
  }

  .panel {
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 15px;
  }

  .attributes_table th {
    color: #004d40;
  }

  .button {
    background-color: #004d40;
    border-radius: 5px;
    color: white;
    &:hover {
      background-color: #00796b;
    }
  }
}
