@tailwind base;
@tailwind components;
@tailwind utilities;


.frange-parallax {
  height: 200px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
